body{
    /*width: 800px;*/
    /*margin: 0 auto;*/
    /*border: 1px solid black*/
    padding-top: 50px;
}

.main_body{

}

.Timer{
    /*background-color: #ff0000;*/
    position: relative;
    margin: 50px auto;
    width: 350px;
    text-align: center;
}
.Timer_digit{
    /*background-color: #bb0000;*/
    position: relative;
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 3em;
}
.Timer_label{
    position: relative;
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 1em;
    color: #777777;
}

.TimerKnob{
    position: relative;
    margin: 50px auto;
    /*width: 350px;*/
    text-align: center;
}

.TimerKnob_digit{
    position: relative;
    display: inline-block;
    text-align: center;
    height: 60px;
    width: auto;
    font-size: 3em;
}

.TimerKnob_label{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 90px;
    font-size: 1em;
    color: #777777;
}

.MainControl{
    positione: relative;
    margin: 30px auto;
    width: 350px;
    text-align: center;
    font-size: 1.5em;
}

.MainButton{
    /*background-color: #006600;*/
    /*padding: 10px;*/
    width: 240px;
    display: inline-block;
}

.SetTimeButton{
    /*background-color: #000066;*/
    /*padding: 10px;*/
    width: 50px;
    display: inline-block;
}
