body{
    width: 800px;
    margin: 0 auto;
    border: 1px solid black
}

.Timer{
    /*background-color: #ff0000;*/
    position: relative;
    margin: 0 auto;
    width: 350px;
    text-align: center;
    font-size: 3em;
}
.Timer_digit{
    /*background-color: #bb0000;*/
    position: relative;
    display: inline-block;
    width: 60px;
    text-align: center;
}

.MainControl{
    positione: relative;
    margin: 30px auto;
    width: 40%;
    text-align: center;
    font-size: 1.5em;
}

.MainButton{
    background-color: #006600;
    padding: 10px;
    width: 70%;
    display: inline-block;
}

.SetTimeButton{
    background-color: #000066;
    padding: 10px;
    width: 10%;
    display: inline-block;
}
